#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.users-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.table-cell {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.cell-cta {
  cursor: pointer;
  border: none;
  outline: none !important;
  display: flex;
  background: transparent;
  color: black;
}

.arrow {
  font-weight: bold;
}

.users-search {
  height: 50px;
  width: 300px;
  border: 2px solid black;
  padding: 4px;
  background: white;
  margin-bottom: 20px;
  float: left;
  color: black;
  font-size: 18px;
}
